@using System.ComponentModel.DataAnnotations
@model ProjectDungbeetle.ViewModels.UserProfileViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile";
}

<h1 class="text-center">Peronalized User Profile</h1>

<div class="container" style="display:flex; flex-direction:column; align-items:center; text-align:center">
    <!--IN THE FORM TAG add the method POST-->
    <form asp-action="SaveProfile" method="post">
        <div>

            <!--USERS PREFERRED NAME OR NICKNAME-->
            <label for="" class="col-form-label mb-3">Your Name</label>
            <input asp-for="FullName" class="form-control questionnaire-input" readonly />

            <!--USER OCCUPATION DROPDOWN-->
            <label for="" class="col-form-label mb-3"> Your Occupation</label>
            <div class="dropdown-center mb-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Select One
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item occupation-option" data-value="@UserOccupation.Student" href="#">@UserOccupation.Student</a></li>
                    <li><a class="dropdown-item occupation-option" data-value="@UserOccupation.Teacher" href="#">@UserOccupation.Teacher</a></li>
                    <li><a class="dropdown-item occupation-option" data-value="@UserOccupation.Developer" href="#">@UserOccupation.Developer</a></li>
                    <li><a class="dropdown-item occupation-option" data-value="@UserOccupation.Programmer" href="#">@UserOccupation.Programmer</a></li>
                    <li><a class="dropdown-item occupation-option" data-value="@UserOccupation.Other" href="#">@UserOccupation.Other</a></li>
                </ul>
            </div>
            <input class="form-control mb-3 questionnaire-input" id="occupation-input" asp-for="Occupation" readonly />

            <!--USER EXPERIENCE LEVEL DROPDOWN-->
            
            <label for="" class="col-form-label mb-3"> Coding Experience Level </label>
            <div class="dropdown-center mb-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Select One
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item experience-option" data-value="@ExperienceLevel.Beginner" href="#">@ExperienceLevel.Beginner</a></li>
                    <li><a class="dropdown-item experience-option" data-value="@ExperienceLevel.Intermediate" href="#">@ExperienceLevel.Intermediate</a></li>
                    <li><a class="dropdown-item experience-option" data-value="@ExperienceLevel.Advanced" href="#">@ExperienceLevel.Advanced</a></li>
                    <li><a class="dropdown-item experience-option" data-value="@ExperienceLevel.Expert" href="#">@ExperienceLevel.Expert</a></li>
                </ul>
            </div>
            <input class="form-control mb-4 questionnaire-input" id="experience-input" asp-for="ExperienceLevel" readonly />

        </div>

        <!--Questionnaire Response Answers-->
        @foreach (var q in Model.QuestionniareData)
        {
            <label>@q.QuestionText</label>

            string answer = "";

            foreach (var r in Model.UserResponseData)
            {
                if (r.QuestionId == q.Id)
                {
                    answer = r.UserResponse;
                    break;
                }
            }

            <input type="text" class="form-control mb-3 questionnaire-input" value="@answer" readonly />
        }
        <div class="">
            <button type="button"  id="enable-changes" class="btn btn-primary mb-4">Update Profile</button> <!--This button should enable the disabled fields and let the user update them-->
            <button type="submit"  id="save-profile" class="btn btn-primary mb-4">Save Changes</button> <!--Change the button TYPE to SUBMIT-->
        </div>
    </form>

    <!--INSERT RESETQUEST() JS FUNCTION-->
    <button type="button" onclick="resetQuest()" class="btn btn-outline-danger btn-save mb-3">**DEV RESET**</button>
</div>

@section Scripts {
    <script src="~/js/dashboard.js"></script>
}
