@model ProjectDungbeetle.ViewModels.UserProfileViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile";
}

<h1 class="text-center">The User Profile</h1>

<div class="container" style="display:flex; flex-direction:column; align-items:center; text-align:center">
    <!--IN THE FORM TAG add the method POST-->
    <form>  
        <div>

            <!--USERS PREFERRED NAME OR NICKNAME-->
            <label for="" class="col-form-label">Placeholder User Name</label>
            <input class="form-control mb-3" type="text" placeholder="Your Name" asp-for="FullName" aria-label="Disabled input example" disabled-readonly/>

            <!--USER OCCUPATION DROPDOWN-->
            <label for="" class="col-form-label"> Placeholder for Occupation</label>
            <div class="dropdown-center mb-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Select One
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">@UserOccupation.Student</a></li>
                    <li><a class="dropdown-item" href="#">@UserOccupation.Teacher</a></li>
                    <li><a class="dropdown-item" href="#">@UserOccupation.Developer</a></li>
                    <li><a class="dropdown-item" href="#">@UserOccupation.Programmer</a></li>
                    <li><a class="dropdown-item" href="#">@UserOccupation.Other</a></li>
                </ul>
            </div>
            <input class="form-control mb-3" style="" type="text" placeholder="Occupation" asp-for="Occupation" aria-label="Disabled input example" disabled-readonly />

            <!--USER EXPERIENCE LEVEL DROPDOWN-->
            <label for="" class="col-form-label"> Placeholder for Experience Level </label>
            <div class="dropdown-center mb-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Select One
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">@ExperienceLevel.Beginner</a></li>
                    <li><a class="dropdown-item" href="#">@ExperienceLevel.Intermediate</a></li>
                    <li><a class="dropdown-item" href="#">@ExperienceLevel.Advanced</a></li>
                    <li><a class="dropdown-item" href="#">@ExperienceLevel.Expert</a></li>
                </ul>
            </div>
            <input class="form-control mb-3" style="" type="text" placeholder="Overall Coding Experience" asp-for="ExperienceLevel" aria-label="Disabled input example" disabled-readonly />
            
            <!-- DROPDOWN CHECK BOXES FOR CODING LANGUAGES THE USER IS LEARNING-->
        </div>


        <!--Questionnaire Response Answers-->


        <label for="" class="col-form-label">Question Text</label>
        <input class="form-control mb-3" style="" type="text" placeholder="Questionnaire Response 1" aria-label="Disabled input example" disabled />

        <label for="" class="col-form-label">Question Text</label>
        <input class="form-control mb-3" style="" type="text" placeholder="Questionnaire Response 2" aria-label="Disabled input example" disabled />

        <label for="" class="col-form-label">Question Text</label>
        <input class="form-control mb-3" style="" type="text" placeholder="Questionnaire Response 3" aria-label="Disabled input example" disabled />

        <label for="" class="col-form-label">Question Text</label>
        <input class="form-control mb-3" style="" type="text" placeholder="Questionnaire Response 4" aria-label="Disabled input example" disabled />

        <label for="" class="col-form-label">Question Text</label>
        <input class="form-control mb-3" style="" type="text" placeholder="Questionnaire Response 5" aria-label="Disabled input example" disabled />

        <div class="">
            <button type="button" class="btn btn-primary mb-4">Update Profile</button> <!--This button should enable the disabled fields and let the user update them-->
            <button type="button" class="btn btn-primary mb-4">Save Changes</button> <!--Change the button TYPE to SUBMIT-->
        </div>
    </form>
    <!--INSERT RESETQUEST() JS FUNCTION-->
    <button type="button" onclick="resetQuest()" class="btn btn-outline-danger btn-save mb-3">**DEV RESET**</button>
</div>